# Force use of SSL (SERVER)
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteCond %{HTTPS} off
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
</IfModule>

#Moved pages redirects
Redirect 301 /regler-tillstand-och-anmalan/transporter-tungtrafik-med-mera/parkeringstillstand/nyttoparkering https://foretagare.helsingborg.se/regler-tillstand-och-anmalan/transporter-tungtrafik-med-mera/parkeringstillstand
Redirect 301 /regler-tillstand-och-anmalan/transporter-tungtrafik-med-mera/parkeringstillstand/nyttoparkering/ https://foretagare.helsingborg.se/regler-tillstand-och-anmalan/transporter-tungtrafik-med-mera/parkeringstillstand/

# Closed idesluss
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^ideslussen.helsingborg.se$ [OR]
  RewriteCond %{HTTP_HOST} ^www.ideslussen.helsingborg.se$
  RewriteRule (.*)$ https://intranat.helsingborg.se/hjalp-och-stod/ideslussen/ [R=301,L]
</IfModule>

# Closed utv blogg
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^utveckling.helsingborg.se$ [OR]
  RewriteCond %{HTTP_HOST} ^www.utveckling.helsingborg.se$
  RewriteRule (.*)$ https://webbplattform.helsingborg.se/[R=301,L]
</IfModule>

# Underscore to hypen fix
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)$ /$1-$2-$3-$4-$5-$6-$7 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)_(.*)_(.*)_(.*)_(.*)_(.*)$ /$1-$2-$3-$4-$5-$6 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)_(.*)_(.*)_(.*)_(.*)$ /$1-$2-$3-$4-$5 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)_(.*)_(.*)_(.*)$ /$1-$2-$3-$4 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)_(.*)_(.*)$ /$1-$2-$3 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)_(.*)$ /$1-$2 [R=301,L]
</ifModule>

#Redirect blog
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} utveckling.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://utveckling.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} webbchefen.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://webbchefen.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} skolwebb.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://skolwebb.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} gemensammastaden.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://gemensammastaden.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} romskinkludering.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://romskinkludering.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} jobbtorget.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://jobbtorget.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} miljoinsikten.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://miljoinsikten.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} bemanningsenheten.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://bemanningsenheten.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} trumslagaren.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://trumslagaren.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} klockspel.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://klockspel.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} growinggreatleaders.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://growinggreatleaders.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} digitalisering.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://digitalisering.helsingborg.se/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} invanarprocessen.blogg.helsingborg.se [NC]
    RewriteRule ^(.*)$ https://invanarprocessen.helsingborg.se/$1 [R=301,L]
</ifModule>

# Rewrite rules -
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteRule ^wp-admin$ wp-admin/ [R=301,L]
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
    RewriteRule ^(.*\.php)$ $1 [L]
    RewriteRule . index.php [L]
</ifModule>

# Spelling support
<IfModule mod_speling.c>
    checkspelling on
</IfModule>

# Prevent spam form submit
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} POST
    RewriteCond %{REQUEST_URI} .(wp-comments-post|wp-login)\.php*
    RewriteCond %{HTTP_REFERER} !.*helsingborg.se.* [OR]
    # RewriteCond %{HTTP_REFERER} !.*helsingborg.se.* [OR] More example domains
    RewriteCond %{HTTP_USER_AGENT} ^$
    RewriteRule (.*) http://%{REMOTE_ADDR}/$1 [R=301,L]
</ifModule>

# Prevent access to XML RPC & Pingback
<FilesMatch "^(xmlrpc\.php|wp-trackback\.php)">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Remove author pages
<IfModule mod_rewrite.c>
    RewriteCond %{QUERY_STRING} ^author=([0-9]){1,}$ [NC]
    RewriteRule ^(.*)$ $1?author=999999 [L]
</ifModule>

# Remove spam refereals
<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_REFERER} ^.*(ranksonic\.|semalt\.|kambasoft\.|buttons-for-website\.|buttons-for-your-website\.com|4webmasters\.org|social-buttons\.com|best-seo-offer\.com|best-seo-solution\.com).*$ [NC]
    RewriteRule ^(.*)$ - [F]
</ifModule>

# Force download of dwg files
AddType application/acad .dwg
AddType application/octet-stream .dwg

# Force download of pdf files
<FilesMatch "\.(pdf)$" >
    ForceType application/octet-stream
    Header add Content-Disposition "attachment"
</FilesMatch>
